
div {
    display: flex;
    align-items: center;
}

nav{
    position: relative;
    display: inline-block;
}
ul{

    display: inline;
}  

li{
    display: none;
    position: absolute;
    background-color: black;
    min-width:12Px;
    z-index: 1;
    
}
#inlineFrameExample{
    iframe {
        border: 1px solid black;
        width: 100%; /* takes precedence over the width set with the HTML width attribute */
      }
      
}

figure{
    margin: auto;

}