
div {
    display: flex;
    align-items: center;
}

ul{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    display: inline;
    border: 1;
}
#inlineFrameExample{
    iframe {
        border: 1px solid black;
        width: 100%; /* takes precedence over the width set with the HTML width attribute */
      }
      
}
figure{
    margin: auto;
}